---
import Layout from '../layouts/Layout.astro';
import PromoSection from '../components/PromoSection.astro';
---

<Layout title="Don't Do Anything - The Art of Earning Money by Doing Nothing">
	<main>
		<PromoSection />
	</main>
</Layout> 